<a href="https://colab.research.google.com/github/Saauraav246/Saauraav246/blob/main/Online/ProjectPart7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # 7 : CPSMA 3913

##Dr. Jacob's 
 
##Discrete Mathematics 

##Logic

##Saurav Chaudhary

## 1 Logic

For my project I will take some propositions about my picks when I go shopping. There will be lots of options but I'm going to choose 3 where 
p be PickHoodies, q be PickShoes and r be PickSportswear, where hoodies and shoes are what I need than sportswear.

In [16]:
PickHoodies = True
PickShoes = True
PickSportswear = False

For truth statements,

In [15]:
PickSportswear and PickHoodies

False

$$r \land p$$

In [14]:
PickSportswear or not PickShoes

False

$$r \lor \lnot q$$

In [13]:
PickSportswear or PickHoodies

True

$$r ⇒ p$$

##Generating Truth Table

In [19]:
pip install truth-table-Generator

Collecting truth-table-Generator
  Downloading truth_table_generator-1.1.2.tar.gz (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from truth-table-Generator) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from truth-table-Generator) (1.3.5)
Collecting PTable
  Downloading PTable-0.9.2.tar.gz (31 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from truth-table-Generator) (3.0.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from truth-table-Generator) (0.8.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from truth-table-Generator) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->truth-table-Generator) (2.0.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-Generator) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-Generator) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->truth-table-Generator) (1.15.0)
Building wheels for collected packages: truth-table-Generator, PTable
  Building wheel for truth-table-Generator (setup.py) ... done
  Created wheel for truth-table-Generator: filename=truth_table_generator-1.1.2-py3-none-any.whl size=13960 sha256=b812d59e9c0899fc66d5c13053c6038cb024b89d6dcf91e39b9bb69214deabf5
  Stored in directory: /root/.cache/pip/wheels/9a/55/b5/77f5756832494eafda92c7a94c1365ac31088a18a3a97dd480
  Building wheel for PTable (setup.py) ... done
  Created wheel for PTable: filename=PTable-0.9.2-py3-none-any.whl size=22925 sha256=c36499390e3fc7992e85737d9090eec68ed76f12bb33529cb97348ca8c7e46aa
  Stored in directory: /root/.cache/pip/wheels/33/df/2f/674985b3f8a2de3f96357d1eadef5110f74fa91b3785e52a54
Successfully built truth-table-Generator PTable
Installing collected packages: PTable, truth-table-Generator
Successfully installed PTable-0.9.2 truth-table-Generator-1.1.2

Truth Tables for my picks

In [26]:
import ttg

table = ttg.Truths(['p', 'q', 'r'], ['~q', 'r and p', 'r or ~q', 'r => p'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

Truth table for 
XOR, ⊕ ¬ (P ⊕ Q ) ⇒ (Q ∨ R):

In [27]:
table = ttg.Truths(['p', 'q', 'r'], ['p xor q', '~(p xor q)', 'q or r', '(~(p xor q)) => (q or r)'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

The truth table in the project was satisfactory for me. The propositions were an example for daily life activities and I found this project really interesting. Logic was one of the tough topics I studied in this course and completing this project had me clear on the topic.